

#nav
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: rgba(255, 235, 205, 0.333);
    padding-bottom:40px;



#main
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    #navbar
    {
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        gap:620px;
        padding:15px 0px; 
        img 
        {
          width:160px;
          height:22px;
        } 
        #navin
        {
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            gap:30px;
            #textbox
            {
                display:flex;
                flex-direction:row;
                justify-content:center;
                align-items:center;
                gap:50px;
                #text
                {
                  font-weight:600;
                  font-size:1.01rem;                  
                  font-family:Verdana, Geneva, Tahoma, sans-serif;
                  color:rgb(57, 54, 54);
                  
                }
                #text:hover
                {
                    color:rgba(238, 84, 28, 0.773);
                    cursor:pointer;
                }
            }
            button
            {
                margin-left:5px;
                padding:12px 22px;
                border-radius: 10px;
                font-family:"Rubik",sans-serif;
                background-color: rgb(238, 95, 43);
                color:white;
                font-weight: bold;
                font-size:17px;
                border:none;

            }
            button:hover
            {
                background-color: rgba(238, 84, 28, 0.773);
                cursor:pointer;
            }
        }
    }
}
#main2
{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding:50px 0px;
    margin:0px 120px;
    gap:50px;
   
    #textdescrip
    { 
       display:flex;
       flex-direction: column;
       justify-content:center;
       align-items: center;
       gap:50px;

       #texthead
       {
       
        font-size:45px;
        margin-right:44px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        gap:50px;
        color:#444;
       }
       #textsubhead
       {
       
        font-size:19px;
        line-height:30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-right: 44px;
        margin-left: 5px;
        color:#444;
       }
       #buttons
       {
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        gap:30px;
        margin-right: 220px;
        #button1
        {
          width:200px;
          height:50px;
          border-radius:10px;
          font-size:17px;
          color:white;
          background-color:olivedrab;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
          border:none;
          font-weight:bold;
        }
        #button1:hover
        {
            cursor: pointer;
            background-color:rgb(98, 130, 36);
        }
        #button2
        {
            width:175px;
            height:50px;
            border-radius:10px;
            font-size:17px;
            color:#555;
            background-color:#fff;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            border:5px white solid;
            font-weight:bold;
        }
        #button2:hover
        {
            cursor:pointer;
            background-color: transparent;
        }

       }
       #smallimgs
       {
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        margin-right:80px;
        gap:20px;
        padding:20px 0px;
        margin-top:15px;
        #imgdiv
        {
         img 
         {
            width:44px;
            height:44px;
            border-radius:50px;
            margin-left:-20px;
            border:2px blanchedalmond solid;
         }
        }
        #meals
        {
            display:flex;
            flex-direction: row;
            justify-content:center;
            align-items: center;
            gap:3px;
            #deliverynos
            {
              font-size:16px;
              color:olivedrab;
              font-weight:bold;
              font-family:Verdana, Geneva, Tahoma, sans-serif;
            }
            #deliverydescrip
            {
                font-size:15px;
                color:rgb(100, 99, 99);
                font-weight:bold;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
            }
        }
       }
    }
    #images
    {
   
       img
       {
          width:37vw;
          height:75vh;
       }
    }
}
}

#main3
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px 0px;
    #heading
    {
      font-size:15px;
      font-weight: bold;
      color:grey;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #logoboxs
    {
        display:flex;
       flex-direction:row;
       justify-content:center;
       align-items:center;
       padding:20px 0px;
       gap:40px;
       filter: brightness(0);
       opacity: 50%;
       #img1 
       {
        width:250px;
       }
       #img2
       {
        width:90px;
       
       }
       #img3
       {
        width:250px;
       }
       #img4
       {
        width:130px;
       }
       #img5
       {
        width:180px;
       }

    }

}
#main4
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
    margin-left:200px;
    gap:10px;
    padding:40px 0px;
  
    #working
    {
      font-size:14px;
      color:olivedrab;
      font-weight:bold;
      font-family:Verdana, Geneva, Tahoma, sans-serif;

    }
    #workhead
    {
       font-size:37px;
       color:#333;
       font-weight:bold;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

}
#main5
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
     gap:150px;
    margin-left:200px;
    padding:100px 0px;
    #verbox1
    {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:start;
        
        gap:30px;
       
        
        
        #textbox1
        { 
            display:flex;
           flex-direction:column;
            justify-content:center;
            align-items:start;
            gap:10px;
            #no
            {
                font-size:80px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                /*color:#3333334a;*/
                color:rgba(167, 166, 166, 0.452);
                font-weight: bold;
            }
            #descrip
            {
                font-size:26px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color:#333;
                font-weight:bold;
            }

        }
        #para
        {
            font-size:16px;
            color:grey;
            line-height: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
    #verbox2
    {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin-right: 300px;
        
     
        
        #bg1
        {
            width:300px;
            height:300px;
            border-radius:50%;
            background-color: #fdf2e9;
            position: relative;
        }
        #bg2
        {
            width:230px;
            height:230px;
            border-radius:50%;
            background-color: #fae5d3;
            position:absolute;
        }
        img 
        {
            position:absolute;
            height:50vh;
            
        }
    }
  
    
}
#main6
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:200px;
    padding:50px 0px;
    margin-left: 200px;
    #verbox2
    {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin-left: 120px;
       
        
     
        
        #bg1
        {
            width:300px;
            height:300px;
            border-radius:50%;
            background-color: #fdf2e9;
            position: relative;
        }
        #bg2
        {
            width:230px;
            height:230px;
            border-radius:50%;
            background-color: #fae5d3;
            position:absolute;
        }
        img 
        {
            position:absolute;
            height:50vh;
            
        }
    }
    #verbox1
    {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:start;
         margin-right: 150px;
        gap:30px;
       
        
        
        #textbox1
        { 
            display:flex;
           flex-direction:column;
            justify-content:center;
            align-items:start;
            gap:10px;
            #no
            {
                font-size:80px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                /*color:#3333334a;*/
                color:rgba(167, 166, 166, 0.452);
                font-weight: bold;
            }
            #descrip
            {
                font-size:26px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color:#333;
                font-weight:bold;
            }

        }
        #para
        {
            font-size:16px;
            color:grey;
            line-height: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
  

}
#main7
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
     gap:150px;
     margin-left:200px;
    
    padding:100px 0px;
    #verbox3
    {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:start;
        
        gap:30px;
       
        
        
        #textbox3
        { 
            display:flex;
           flex-direction:column;
            justify-content:center;
            align-items:start;
            gap:10px;
            #no1
            {
                font-size:80px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                /*color:#3333334a;*/
                color:rgba(167, 166, 166, 0.452);
                font-weight: bold;
            }
            #descrip1
            {
                font-size:26px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color:#333;
                font-weight:bold;
            }

        }
        #para1
        {
            font-size:16px;
            color:grey;
            line-height: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
    #verbox4
    {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin-right: 300px;
        
     
        
        #bg12
        {
            width:300px;
            height:300px;
            border-radius:50%;
            background-color: #fdf2e9;
            position: relative;
        }
        #bg21
        {
            width:230px;
            height:230px;
            border-radius:50%;
            background-color: #fae5d3;
            position:absolute;
        }
        img 
        {
            position:absolute;
            height:50vh;
            
        }
    }
  
}

#main8
{   
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

  
    margin-top:40px;
    gap:10px;
    padding:50px 0px;
    #meals
    {
        font-size:15px;
        color:orangered;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
    #mealsdescrip
    {
       font-size:40px;
       color:#333;
       font-weight:bold;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
        

    }
}
#main9
{
      display:grid;
      grid-template-columns: repeat(3,1fr);
      gap:90px;
      margin:0px 180px;
    
      padding-top:70px;
      padding-bottom: 30px;

    #box1
    {
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      gap:20px;
      border:none;
      border-radius:10px;
      background-color: #FFF;
      box-shadow: 0px 0px 2px;
      bottom:0px;
      
      transition: all 0.5s;

      #img{
      
      
      #img1
      {
        
        height:250px;
        width:320px;
       border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
      }
    }
      #subbox
      {
       
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:start;

        gap:30px;
        padding-bottom: 40px;
        #subbox1
        {
            display:flex;
            flex-direction:column;
            justify-content:center;
           align-items:start; 
            gap:10px;  
           #typeofeater
           { 
             
            
             background-color: #51cf66;
            
             border-radius:10px;
             padding:0px 5px;
            
            
           }
           #style
           {
              font-size:27px;
              font-weight: bold;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
           }
        }
        #subbox2
        {
           display:flex;
           flex-direction:column;
           justify-content:center;
           align-items:center;
           gap:20px;
          
           #iconbox1
           {
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            margin-right:50px;
            gap:20px;
            #i1{

                color:orange;
                font-size:25px;
                align-items:center;
            }
            #text1
            {
              color:grey;
              font-size:18px;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

           }
           #iconbox2
           {
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            margin-right:20px;
            
            gap:20px;
            #i2
            {
                color:orange;
                font-size:25px;
                align-items:center;
            }
            #text1
            {
                color:grey;
              font-size:18px;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
                
            }
           }
           #iconbox3
           {
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            margin-right:20px;
            gap:20px;
            #i3{
                color:orange;
                font-size:25px;
                align-items:center;
            }
            #text1
            {
                color:grey;
                font-size:18px;  
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        
        
        }
      }
    }
   
}
#box1:hover
{
 transform:  translateY(-1.2rem);
 
}
    #box2
    {
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      gap:20px;
      box-shadow: 0px 0px 2px;
      margin: buttom 12px;
      border-radius: 10px;
      background-color: #FFF;
      border:none;
      transition: all 0.5s;
      #img{

      #img2
      {
        height:240px;
        width:315px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 9px;
        
      }
    }
    #subboxtwo
      {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:start;
      
        gap:30px;
        padding-bottom: 40px;
        #subbox1
        {
            display:flex;
            flex-direction:column;
            justify-content:center;
           align-items:start; 
           gap:10px;  
           #typeofeater
           { 
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:start; 
            gap:5px;
            #typeofeater1
            {
             background-color: #94d82d;
             
             
             border-radius:10px;
             padding:0px 5px;
            }
            #typeofeater2
            {
             background-color: #ffd43b;
             
             
             border-radius:10px;
             padding:0px 5px;
            }
           }
           #style
           {
              font-size:27px;
              font-weight: bold;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
           }
        }
        #subbox2
        {
           display:flex;
           flex-direction:column;
           justify-content:center;
           align-items:center;
           gap:20px;
           #iconbox1
           {
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            margin-right:50px;
            gap:20px;
            #i1{
              color:orange;
              font-size:25px;
              align-items:center;
              
             
            }
            #text1
            {
              color:grey;
              font-size:18px;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

           }
           #iconbox2
           {
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            margin-right:15px;
            
            gap:20px;
            #i2{
              color:orange;
              font-size:25px;
              align-items:center;
              
              
            }
            #text1
            {
              color:grey;
              font-size:18px;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

           }
           #iconbox3
           {
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            margin-right:20px;
            gap:20px;
            #i3{
              color:orange;
              font-size:25px;
              align-items:center;
              
            }
            #text1
            {
              color:grey;
              font-size:18px;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

           }


        }
      }
    }
}
#box2:hover
{
 transform:  translateY(-1.2rem);
 
}
    #lists
        {
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items:start;
            
            border-radius:10px;
            gap:30px;

            #heading
            {
                font-size:26px;
                font-weight: bold;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                color:#444;
            }
            
            ul 
            {
                i 
                {
                    color:orange;
                    padding-right:8px;
                }
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 20px;
                 font-size:20px;
                 font-family: Verdana, Geneva, Tahoma, sans-serif;
                 color:rgb(103, 102, 102);
            }
        }

#main10
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
    u 
    {
        font-size:20px;
        color:olivedrab;

    }
}
#main11
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-top:70px;
    background-color: rgba(253, 237, 213, 0.333);
    #mixgrid1
    {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:start;
        margin-left:90px;
        margin-right: 100px;
        gap:100px;
        padding:80px 0px;
        #heading
        {
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:start;
            gap:10px;
            #head
            { 
                font-size:15px;
                color:olivedrab;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight:700px;
                letter-spacing: 3px;
        
            }
            #subhead
            {
              font-size:40px;
              color:#333;
              font-weight:bold;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        }
        #grid1
        {
            display:grid;
            grid-template-columns: repeat(2,1fr);
            gap:30px;
            padding-right:80px;
           
            #reviewwithimage
            {
                display:flex;
               flex-direction:column;
               justify-content:center;
               align-items:start;
               gap:20px;
               img 
               {
                 border-radius:150px;
                 height: 70px;
               }
               #review
               {
                  font-size:17px;
                  color:rgb(84, 83, 83);
                  font-family:Verdana, Geneva, Tahoma, sans-serif;
                  line-height:30px;
               }
               #sign
               {
                   font-size:17px;
                   color:grey;
               }
            }
        }
    }
    #grid2
    {
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:20px;
       
        #gs
        {
            width:200px;
            height:200px;
            overflow: hidden;
           
            img 
            {
                width:200px;
                height:200px;
                transition: all 0.4s;
                
    
            }
        img:hover
        {
           transform: scale(1.1);
         }
           
        }
        
    }
        

          
        
          
        
}
#main12
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
    padding:50px 0px;
  
    margin-left:180px;
    gap:10px;
    #head
    {
      color:olivedrab;
      font-size:17px;
      font-weight:bold;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      letter-spacing: 1px;
    }
    #subhead
    {
        color:#333;
        font-size:35px;
        font-weight:bold;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

}
#main13
{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin:0px 300px;
    gap:50px;
    margin-top:70px;
    #cardbox1
    {
        display:flex;
      flex-direction:column;
      justify-content:center;
       align-items:center;
       border:2px  rgba(253, 209, 143, 0.333) solid;
      
       padding:50px 0px;
       border-radius:10px;
       gap:30px;
       #threebox
       {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:20px;
        #start
        {
            font-size:22px;
            color:orangered;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;

        }
        #price
        {
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;   
            #price1
            {
                font-size:30px;
                color:#333;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-weight:bold;
            }
            #price2
            {
                font-size:60px;
                color:#333;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-weight:bold;

            }
        }
        #keypoints
        {
           color:grey;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
       }
       #listul
       {
        display:flex;
        flex-direction:column;
        justify-content:start;
        align-items:start;
       
        margin-right:130px;
        
      
        ul 
        {
            gap:10px;
           
           
            li 
            {
              list-style-type: none;
              font-size:15.5px;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              color:rgb(97, 96, 96);
              
              

              
              i 
              {
                color:orangered;
                font-size:35px;
                padding-right:10px;
              }
            }
        
        }
       }
       button 
       {
         padding:15px 40px;
         background-color: olivedrab;
         color:white;
         font-weight:bold;
         font-family:Verdana, Geneva, Tahoma, sans-serif;
         font-size:17px;
         margin-right:30px;
         border-radius:10px;
         border:none;
       }
    }
    #cardbox2
    {
        display:flex;
      flex-direction:column;
      justify-content:center;
       align-items:center;
      
       padding:50px 0px;
       border-radius:10px;
       background-color: rgba(253, 237, 213, 0.333);
       
       gap:30px;
       #threebox
       {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:20px;
        #start
        {
            font-size:22px;
            color:orangered;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;

        }
        #price
        {
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;   
            #price1
            {
                font-size:30px;
                color:#333;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-weight:bold;
            }
            #price2
            {
                font-size:60px;
                color:#333;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-weight:bold;

            }
        }
        #keypoints
        {
           color:grey;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
       }
       #listul
       {
        display:flex;
        flex-direction:column;
        justify-content:start;
        align-items:start;
       
        margin-right:130px;
        
      
        ul 
        {
            gap:30px;
           
           
            li 
            {
              list-style-type: none;
              font-size:15px;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              color:rgb(97, 96, 96);
              
              

              
              i 
              {
                color:orangered;
                font-size:35px;
                padding-right:10px;
              }
            }
        
        }
       }
       button 
       {
         padding:15px 40px;
         background-color: olivedrab;
         color:white;
         font-weight:bold;
         font-family:Verdana, Geneva, Tahoma, sans-serif;
         font-size:17px;
         margin-right:30px;
         border-radius:10px;
         border:none;
       }
      
    }
   

}
#main14
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:50px 0px;
    color:grey;
    font-size:16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
#main15
{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin:70px 170px;
    gap:60px;
    #submain
    {
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:start;
      
        gap:20px;
        
       
        
        #icon
        {
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items:center;
         height:60px;
         width:60px;
        
         border-radius: 50px;
         background-color: #fdf2e9;
        i 
        {
           
             color:olivedrab;
            font-size:30px;
        }
        }
        #headlogo
        {
           font-size:22px;
           font-weight:bold;
           font-family:Verdana, Geneva, Tahoma, sans-serif;
           color:#333;
        }
        #headdescrip
        {
            font-size:16px;
            color:grey;
             line-height: 30px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
    }
}
#main16
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    margin:150px 200px; 
    background-color:#ee882f ;
    border:2px black solid;
    border-radius: 20px;
    overflow:hidden;
    #submain1
    {
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: start;
        padding:0px 50px;
       
       
        
        #submain1head
        {
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: start;
            color:#333;
            gap:20px;
            #heading
            {
                font-size:40px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-weight:bold;
                color:#333;
            }
            #content
            {
                font-size:17px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                line-height: 30px;
                color:#333;
            }

        }
        #formgrid
        {
            display:grid;
            grid-template-columns:repeat(2,1fr);
            margin-top:60px;
            gap:20px;
            #input
            {
                display:flex;
                flex-direction:column;
                justify-content: center;
                align-items: start;  
                
                gap:10px;
                #inputname
                {
                   font-size:15px;
                   font-weight:700px;
                   font-family: Verdana, Geneva, Tahoma, sans-serif;
                   
                 

                }  
                #inp1
                {
                    width:280px;
                    height:40px;
                    background-color: white;
                    border-radius:10px;
                    border:none;
                    color:rgba(154, 153, 153, 0);
                    font-size:17px;
                }      
            }
         
            #selector
            {
                display:flex;
                flex-direction:column;
                justify-content: center;
                align-items: start;
                gap:8px;
                #selectorname
                {
                    font-size:15px;
                   font-weight:700px;
                   font-family: Verdana, Geneva, Tahoma, sans-serif;
                 
                }
                select 
                {
                    width:280px;
                    height:40px;
                    background-color: white;
                    border-radius:10px;
                    border:none;
                    font-size:17px;
    
                }
            }
            button 
            {
                margin-top:28px;
               height:40px;
               border-radius:10px;
               border:none;
               font-size:17px;
               color:white;
               background-color: #333;
               font-weight: bold;
            }
        }
    }
    img 
    {
        width: 350px;
        height:450px;
    }
}
#main17
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:40px;
    border-top:1px grey solid;
    padding:90px 0px;
   
    #submain1
    {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap:60px;
        
        #imgicon
        {
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: start;
            gap:20px;
            img 
            {
              width:180px;
              height:25px;
            }
            #icons 
            {
                display:flex;
                flex-direction:row;
                justify-content: center;
                align-items:start;
                gap:10px;
                i 
                {
                   font-size:25px;
                   color:grey;
                }
            }
        }
        #descrip
        {
           font-size:12px;
           color:grey;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
       
        
    }
    #submain2
    {
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: start;
       
        gap:30px;
        #head1
        {
           color:grey;
           font-weight:bold;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
           font-size:17px;
        }
        #text1 
        {
            color:grey;
            
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size:15px;

        }
        #text2 
        {
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: start;
            
            #text3
            {
                color:grey;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size:15px;
            }
            #text4
            {
                color:grey;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size:15px;
            }
        }
    }
    #submaingrid
    {
        display:grid;
        grid-template-columns: repeat(3,1fr);
       
       
      
        #submain3
        {
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items:center;
            
            
            #texthead
            {
                color:grey;
                font-weight:bold;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size:17px;
            }
            ul 
            {
               
                list-style-type: none;
                color:grey;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size:15px;
                li 
                {
                    padding-bottom:10px;
                }
            }
        }
    }


}
